section {
    padding: 20px;

}

section div {
    margin-top: 15px;
    margin-left: 5%;
}

label {
    width: 150px;
    display: inline-block;
}

input {
    padding: 6px;
    border: none;
}
button {
    padding: 6px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}