body{
    background-color: #d4af37;
}
input .login {
    background-color: goldenrod;
}
a {
    color: gold;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
a:hover {
    color: goldenrod;
}
